<% provide(:title, "Ende") %>                     
                                                                                                                                                                                                                                                                                                                        
    <div class="header">                                             
      <h1>                                                           
        Vielen Dank für Ihre Teilnahme!                                  
      </h1>                                                          
    </div>