    <% provide(:title, 'Start') %>

  
	<div class="header">
		<h1>
        	Audio Wahrnehmungstest
    	</h1>  
    </div>
    
	<div class="content">
  	<p1>
        <br />
        In diesem Test geht es um die Wahrnehmung von synthetischer erzeugter (computergenerierter) Sprache.<br />
        Auf den nächsten Seiten werden Sie 6 Kommandos von einem Autonavigationssystem hören. Diese werden einzeln abspielbar in 5 unterschiedlichen Varianten zu hören sein.
        Die Varianten können Sie so oft Sie wollen abspielen und gegen einander Vergleichen.
        Wählen Sie bitte bei jedem Kommando die Variante aus, welche für Sie am natürlichsten klingt. Der Inhalt der Kommandos soll nicht bewertet werden.
        <br />
        <br />
        <strong>Vorrausetzung zur Teilnahme:</strong>
          <div class="list">
	          <li>Deutsche/-r Muttersprachlerin/-sprachler bzw. Deutschkenntnisse auf muttersprachlichem Niveau</li>
	          <li>Ca. 5 Minuten Zeit</li>
	          <li>Sie Haben noch nicht an dem Test teilgenommen.</li>
	          <li>Kopfhörer sind empfohlen, aber nicht zwingend nötig.</li>
	          <li>Browser: Internet Explorer 9, Firefox, Opera, Chrome und Safari (auch iOS)</li>
			  <!-- <li>Firefox wird im Moment nicht unterstützt, ist aber in Arbeit.</li> -->
          </div>
        <br />
        Abgesehn von den aufgeführten Punkten gibt es keine weiteren Anforderungen an Sie.
        Es gibt keine richtigen oder falschen Antworten. Gehen Sie von Ihrem eigenen Sprachempfinden aus.
        <br />               
        <br />         
        <strong>
          <%= link_to "Hier geht's los", rating_rating_page_path %>
        </strong>
     </p1>
	 </div>
   
